<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PathBinder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&family=Eczar:wght@700&family=Gelasio&family=Roboto+Condensed&family=Tauri&family=Teko:wght@500&family=Walter+Turncoat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link href="https://www.dafontfree.net/embed/bmV4dXNzZXJpZi1yZWd1bGFyLXJlZ3VsYXImZGF0YS82Ni9uLzE2MDM1Ni9OZXh1c1NlcmlmLVJlZ3VsYXIub3Rm" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Library" id="title">PathBinder</a>
            <button id="darkMode"><i class="fa-solid fa-sun fa-lg" aria-hidden="true"></i> <span class="accessibleText">Toggle Page Theme Between Light and Dark Mode</span></button>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/719dd23465.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let rootElement = document.documentElement;
            let theme = localStorage.getItem("theme");
            if (theme) {
                rootElement.setAttribute("data-theme", theme);
            }
            else {
                rootElement.setAttribute("data-theme", "dark");
            }
        });

        document.querySelector("#darkMode").addEventListener("click", function () {
            let rootElement = document.documentElement;
            let newTheme = rootElement.getAttribute("data-theme") === "dark" ? "light" : "dark";
            rootElement.setAttribute("data-theme", newTheme);
            localStorage.setItem("theme", newTheme);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
