* {
    box-sizing: border-box;
}

.page {
    position: relative;
    width: 210mm;
    height: 297mm;
    margin: 30px auto;
    background-image: url(../assets/page.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 4px 14px #000;
}

.page .frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    z-index: 100!important;
    mask-image: url('../assets/frame.png');
}

.page .base {
    mask-image: url('../assets/base.png')!important;
}

.page .noBase {
    mask-image: url('../assets/no-base.png') !important;
}

.page, .columnWrapper {
    column-count: 2;
    column-fill: auto;
    overflow: hidden;
}

.columnWrapper {
    width: 180mm;
    height: 267mm;
}

.columnWrapper {
    margin: 1.5cm;
}

.page * {
    font-size: .317cm;
}

.page .columnWrapper {
    column-span: all;
    position: relative;
}

.page .wide {
    column-span: all;
    text-align: center;
}

.page img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mask-base {
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.mask-center {
    mask-image: url('../assets/center.webp');
}

.mask-edge {
    mask-image: url('../assets/edge.webp');
}

.mask-center-round {
    mask-image: url('../assets/center-round.png');
}

.mask-center-square {
    mask-image: url('../assets/center-square.png');
}


.edge-90 {
    mask-image: url('../assets/edge-90.webp');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: 50% 50%;
}

.edge-180 {
    mask-image: url('../assets/edge-180.webp');
    mask-repeat: no-repeat;
    mask-size: cover;
}

.edge-270 {
    mask-image: url('../assets/edge-270.webp');
    mask-repeat: no-repeat;
    mask-size: cover;
}

.artist {
    position: relative;
}

.artist .line, .artist {
    font-family: "Walter Turncoat", cursive;
    color: #766649;
    text-align: center;
    font-size: 1.1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.artist > :first-child {
    font-weight: bold;
    font-size: 1.3em;
}

.columnWrapper img {
    position: relative;
    height: auto;
}

.page .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page .title {
    text-shadow: 1px 1px 0 #EFCD98, -1px 1px 0 #EFCD98, 1px -1px 0 #EFCD98, -1px -1px 0 #EFCD98, 0px 1px 0 #EFCD98, 0px -1px 0 #EFCD98, -1px 0px 0 #EFCD98, 1px 0px 0 #EFCD98, 2px 2px 0 #EFCD98, -2px 2px 0 #EFCD98, 2px -2px 0 #EFCD98, -2px -2px 0 #EFCD98, 0px 2px 0 #EFCD98, 0px -2px 0 #EFCD98, -2px 0px 0 #EFCD98, 2px 0px 0 #EFCD98, 1px 2px 0 #EFCD98, -1px 2px 0 #EFCD98, 1px -2px 0 #EFCD98, -1px -2px 0 #EFCD98, 2px 1px 0 #EFCD98, -2px 1px 0 #EFCD98, 2px -1px 0 #EFCD98, -2px -1px 0 #EFCD98;
    font-size: 7em;
    width: auto;
    text-align: center;
    position: relative;
}

.page .subtitle {
    margin-top: -30px;
    font-size: 1.4em;
    color: #5E0000;
    background-image: url(../assets/subtitle.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 0 40px 40px 40px;
    background-size: 800px;
    font-family: 'DM Serif Text', serif;
    text-align: justify;
}

.page .break {
    break-after: column;
}

.page .linebreak {
    border-bottom: 1px solid;
}

.page .action {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -1px;
    margin-left: -1px;
}

.page .oneaction {
    width: 14px;
}

.page .line .oneaction {
    width: 12px;
}

.page .twoaction {
    height: 22px;
    width: 22px;
}

.page .line .twoaction {
    height: 18px;
    width: 18px;
}

.page .threeaction {
    height: 28px;
    width: 28px;
}

.page .line .threeaction {
    height: 24px;
    width: 24px;
}

.page .label {
    float: right;
    font-size: 0.4cm;
    text-transform: uppercase;
}

.page .tag {
    margin: 0;
    margin-right: -3px;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #DAC68A;
    background-color: #58180D;
    color: white;
    text-align: center;
    padding: 2px 4px;
    text-transform: uppercase;
    font-size: 0.3cm;
}

.page .line {
    margin-left: 1em;
    text-indent: -1em;
}

.page .paragraph + .paragraph {
    text-indent: 1em;
}

.page .line-indent {
    margin-left: 2em;
    text-indent: -1em;
}

.page h1, .page h2, .page h3, .page h4, .page h5 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.page h1 {
    font-size: 5em;
    -webkit-text-stroke-width: 1.2px;
    font-family: 'Eczar', sans-serif;
    color: #58180D;
}

.page h2 {
    color: #02256E;
    font-size: 2.25em;
    line-height: 1.1;
    -webkit-text-stroke-width: 0.9px;
    font-family: 'Eczar', sans-serif;
}

.page h3 {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    -webkit-text-stroke-width: 0.6px;
    font-weight: normal;
    color: #58180D;
}

.page h4 {
    font-family: 'Tauri', sans-serif;
    margin-bottom: 2px;
    border-bottom: 1px solid;
    font-size: 0.4cm;
    font-weight: normal;
    text-transform: uppercase;
}

.page h5 {
    font-family: 'Tauri', sans-serif;
    font-size: .423cm;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10.5px;
    color: #000000;
}

.page h6 {
    background-color: #002664;
    color: #EDE3C8;
    border-bottom: 1px solid #002664;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 1.25em;
    font-family: 'Tauri', sans-serif;
    text-transform: uppercase;
    border-radius: 12px 12px 0px 0px;
    font-weight: 500;
    margin-top: 10.5px;
}

.page p {
    font-family: 'Gelasio', sans-serif;
    line-height: 1.4;
    text-align: justify;
    margin: 0;
}

.page img {
    vertical-align: middle;
}

.page .table {
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 0; 
}

.page .table * {
    text-align: left;
    font-family: 'Gelasio', sans-serif;
    padding: 4px;
}

.page .table th {
    background-color: var(--header-bg-color, #02256E);
    color: var(--header-color, white);
}

.page .table tr:nth-child(even) {
    background-color: #EEE3C8;
}

.page .table tr:nth-child(odd) {
    background-color: #F5EFE0;
}

.page .size {
    background-color: #3B7B59;
}

.page .uncommon {
    background-color: #98513D;
}

.page .rare {
    background-color: #002664;
}

.page .unique {
    background-color: #54166E;
}